body {
  background-color: #eee;
}
#book,
#services,
#about,
footer {
  background-color: #f8f9fa;
}
.main-color {
  color: #ffa600;
}
.main-background {
  background-color: #ffa600 !important;
}
.main-background:hover {
  background-color: #ad7306 !important;
}
.navbar-brand::first-letter {
  color: #ffa600;
  font-size: 2em;
  font-weight: bold;
}
header {
  height: 100vh;
}
.background {
  background: url(../images/backgroundimg.png);
  width: 100%;
  height: calc(100vh - 86px);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.background h2 {
  font-size: 35px;
}
.background h1 {
  font-size: 60px;
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 0;
}
.background h1,
.background h2,
.background p,
.background button {
  z-index: 2;
}
.heading {
  padding-top: 25px;
}
.heading h2::first-letter {
  color: #ffa600;
}
.rate i {
  color: #ffa600;
}
#services i {
  font-size: 50px;
}
.card {
  box-shadow: 0px 5px 10px -5px black;
}
